.footer {
  padding: 45px 0 0;
  line-height: 23px;
  border-top: 1px solid #e7e7e7;
  background-color: white;
  color: #666;
  box-sizing: border-box;
}

.footer a {
  color: #666666;
}

.footer .container {
  width: 1080px;
  margin: 0 auto;
  padding: 0;
}

.footer .container .fl {
  float: left;
}

.footer .container .fr {
  float: right;
}

.footer .container .m-logo img {
  width: 123px;
  height: 45px;
  margin-right: 25px;
}

.footer .container .f-info {
  position: relative;
  padding-right: 138px;
  font-size: 12px;
}

.footer .container .f-info .icon {
  position: absolute;
  top: 4px;
  right: 0;
  padding-left: 14px;
}

.footer .container .f-info .icon img {
  width: 100px;
}

.footer .container .f-info .footer-item {
  color: #666;
}

.footer .container .f-info .footer-item span {
  margin-right: 5px;
}

.footer .clear-f::before {
  content: " ";
  display: table;
  clear: both;
}

.footer .clear-f::after {
  content: " ";
  display: table;
  clear: both;
}
