.result-container {
    padding-bottom: 100px;
    background: #f2f2f2;

    .container {
        width: 1080px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .search-tit {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .sort-group {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 30px;

        .sort-button {
            display: flex;
            align-items: center;

            .sort-button-wrap {
                cursor: pointer;
                display: flex;
                align-items: center;

                .sort-button-text {
                    color: #333;
                    font-size: 16px;
                }

                .sort-button-text-active {
                    color: #d08d35;
                }
            }

            .sort-button-line {
                display: inline-block;
                height: 13px;
                width: 1px;
                margin: 0 30px;
            }
        }
    }

    .clear-fix {
        *zoom: 1;

        &::after,
        &::before {
            content: " ";
            display: table;
            clear: both;
        }
    }

    .product-list {
        .m-tag-a {
            cursor: pointer;
        }

        .pro-item {
            position: relative;
            float: left;
            width: 266px;
            height: 289px;
            margin-left: 5px;
            margin-bottom: 5px;
            text-align: center;
            background: #fff;
            transition: all .4s;

            &:hover {
                box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
                transform: translate3d(0, -2px, 0);
            }

        }

        .first {
            margin-left: 0;
        }

        .pro-img-r {
            display: block;
            width: 100%;
            height: 195px;
            text-align: center;
            background: #fff;
            overflow: hidden;

            img {
                width: 195px;
                height: auto;
            }
        }

        .tag-container {
            text-align: center;
            line-height: 26px;
            padding-bottom: 6px;
            width: 100%;
            height: 20px;
            overflow: hidden;

            .common-tag-img {
                overflow: hidden;
                vertical-align: bottom;
            }

            .common-tag {
                display: inline-block;
                height: 20px;
                margin-left: 8px;
            }
        }

        .pro-name {
            height: 16px;
            display: inline-block;
            width: 100%;
            line-height: 16px;
            font-size: 14px;
            // padding: 0;
            margin-top: 6px;
            box-sizing: border-box;
            margin-bottom: 6px;
            color: #333;
            text-align: center;
            font-weight: 400;
            padding: 0 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .pro-price {
            height: 26px;
            line-height: 26px;
            overflow: hidden;
            color: #a92112;

            .pro-flag,
            .pro-ori,
            .pro-unit {
                font-size: 12px;
            }
        }

        .no-result {
            padding-top: 50px;
            text-align: center;

            .m-exception {
                text-align: center;

                .e-img {
                    width: 153px;
                    height: 134px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-origin: center center;
                    background-size: 100%;
                }

                .e-info {
                    margin-top: 24px;
                    color: #333;
                }

            }

            .m-no-result {
                .e-img {
                    background-image: url(//cdn.cnbj1.fds.api.mi-img.com/youpin-pc/production/YouPin_PC/static3/media/no_result.74fcdcf7.png);
                }
            }

            .m-btn-sm {
                min-width: 110px;
                height: 36px;
                line-height: 34px;
                font-size: 16px;
            }

            .m-btns {
                display: inline-block;
                border-radius: 2px;
                text-align: center;
                color: #666;
                border: 1px solid #666;
                box-sizing: border-box;
                padding: 0 6px;
                transition: all .5s cubic-bezier(0, 1, .5, 1);
            }
        }

    }

}